{% extends 'layouts/base.html.twig' %} {% block header_title %}
<h1>
  Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de
  vos tâches sans effort !
</h1>
{% endblock %} {% block body %}

<div class="row">
  <a href="{{ path('task_create') }}" class="btn btn-success"
    >Create new task</a
  >
  <a href="{{ path('task_list') }}" class="btn btn-info"
    >Check all task to do</a
  >
  <a href="{{ path('task_isdone') }}" class="btn btn-secondary"
    >Check terminated tasks</a
  >
</div>
{% endblock %}
